<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/main.css">
</head>
<body>
            <div>

                <div style="display: flex; justify-content: space-evenly; align-items: center;">
<h5 style="font-weight: 900; font-size: 17px;"><tr class="mcss">Profile Detail:</tr></h5>	
	 <tr><td>Name : </td><td><%= name %></td></tr>
	 <tr><td>Email :  </td><td><%= email %></td></tr>
<button class="btn btn-success" style="color: #fff;"><a href="/logout" style="color: #fff;">Logout</a></button>

</div>
                   
             
            
        </div>
<div class="abc">
	
</div>
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="http://localhost:4000/" allowfullscreen></iframe>
          </div>
    
</body>
</html>
